 main {
            background-size: cover;
            background-position: center;
            min-height: 100vh; 
        }

 .social_medias img {
        width: 50px;
        height: auto; 
    }
