     #popupMessage {
            display: none;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
            border-radius: 5px;
            transition: opacity 0.5s;
        }
        #popupMessage.show {
            display: block;
            opacity: 1;
        }
        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .cart-item div {
            margin: 0 10px;
        }
        .cart-total {
            margin-top: 22px;
            text-align: left;
        }   
        .cart-item-details {
            flex-grow: 1; 
        }
        .remove-btn {
            cursor: pointer;
            color: red;
        }
        
        
        .popup {
            visibility: hidden;
            min-width: 200px;
            background-color: #1b1919;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            font-size: 20px;
            pointer-events: none;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            transition: all;
          }
          
          .popup.show {
            visibility: visible;
            -webkit-animation: fadeInOut 0.5s;
            animation: fadeInOut 1s;
          }
          
          @-webkit-keyframes fadeInOut {
            0%, 100% { opacity: 0; }
            50% { opacity: 1; }
          }
          
          @keyframes fadeInOut {
            10% { opacity: 1; } 
            90% { opacity: 1; } 
            100% { opacity: 0; } 
          }

    